[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
